nav {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

nav > div {
    display: inline-flex;
}

.chinguTriviaTitle {
    display: inline-flex;
    margin: 35px 45px;
}

.divNavUl {
    justify-content: flex-end;
}

.navUl {
    align-items: center;
    display: flex;
    list-style-type: none;
}

.navUl > li {
    display: inline-flex;
    margin: 0 10px;
}

li:last-child {
    margin-right: 50px;
}

.navItem {
    text-decoration: none;
    color: #000;
}