nav {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

nav > div {
    display: inline-flex;
}

.chinguTriviaTitle {
    display: inline-flex;
    font-weight: normal;
    margin: 35px 45px;
    text-transform: uppercase;
}

.divNavUl {
    justify-content: flex-end;
}

.navUl {
    align-items: center;
    display: flex;
    padding: 0;
    list-style-type: none;
}

.navUl > li {
    display: inline-flex;
    margin: 0 10px;
}

li:last-child {
    margin-right: 50px;
}

.navItem {
    text-decoration: none;
    color: #000;
}

@media (min-width: 200px) {
    .chinguTriviaTitle {
        font-size: 18px;
        margin: 5px 1px 10px 5px;
    }

    li:last-child {
        margin-right: 5px;
    }
}

@media (min-width: 400px) {
    .chinguTriviaTitle {
        font-size: 24px;
        margin: 25px;
    }

    li:last-child {
        margin-right: 25px;
    }
}